@import 'colors';

.footerSection{
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    width: 100%;
    min-height: 100svh;
    height: 100%;
    box-sizing: border-box;
}