@import "colors";

.home{
    padding: 0px;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.home:hover{
    transform: scale(1.1);
}

.home:active{
    transform: scale(0.8);
}

.home img{
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 10px $secondary-color);
}

@media screen and (min-width: 769px) {

    .home img{
        width: 5vw;
        height: 5vw;
        min-width: 50px;
        min-height: 50px;
    }

}